// ---------- brand colors -----------
// $red: #E95E61 ;
// $red_dark: #CE5853;
// $red_logo: #953031;

// ---------- additional colors -----------
// $purple02: #F9FAFD;
// $purple03: #EAEEFA;
// $purple01: #D4DBF5;
// $purple05: #B4C0ED;
// $purple04: #A2AFDF;
// $purple09: #7D8BBD;
// $purple06: #6B769D;
// $purple08: #4A526F;
// $purple07: #34394E;

// ---------- neutral colors -----------
// $black: #1F253B;
// $white: #FBFBFB;
// $gray: #666A71;
// $gray_light: #AAB0BD;
// $gray_light_extra: #CCD4E3;

// ---------- state colors -----------
// $red_error: #F80000;


// ---------- for testing -----------

$test-p: pink;
$test-b: blue;
$test-v: violet;
$test-bi: bisque;
$test-lg: lightgreen;
$test-g: gray;
$test-y: yellow;

// ---------- transition time -----------

// $time_change_color: .25s;
// $time_show_menu: .5s;
