header.header
  p Header
  //- nav
    .logo
      a(href='index.html') Header
    ul.nav
      li.nav__item 
        a.nav__link(href='index.html') Home 
      li.nav__item
        a.nav__link(href='test.html') Test 
    button.mobile-menu
      svg.sprite 
        use(href="./images/sprite.svg#menu")
